name: Security Scan

on:
  push:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep
        uses: returntocorp/semgrep-action@v1
        with:
          config: .semgrep.yml

      - name: Build Docker
        run: docker build -t vuln-lab .

      - name: Run Trivy
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: vuln-lab
          severity: HIGH,CRITICAL
          exit-code: 1
