name: Security Scan

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  security:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Malicious step (Simulation)
        run: |
          echo "Runner hostname:"
          hostname
          echo "Runner IP:"
          ip a
          echo "Environment variables:"
          env
