name: Security Scan

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  security:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Simulate Secret Exposure
        run: |
          echo "Listing environment variables:"
          env | grep DB_PASSWORD
          
